@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  caret-color: #e3ffd9;
}

.scrollbar {
  scrollbar-gutter: stable;

  /* Firefox */
  scrollbar-width: thin;
}

/* WebKit / Blink */
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar.scrollbar-rounded::-webkit-scrollbar-track,
.scrollbar.scrollbar-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

.scrollbar {
  scrollbar-color: #eeeeee #ffffff;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 70%);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bcbcbc;
}
