@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  caret-color: #e3ffd9;
}

.scrollbar {
  scrollbar-gutter: stable;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #646873 #383b40;
}

/* WebKit / Blink */
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #383b40;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #646873;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7e838f;
}

.scrollbar.scrollbar-rounded::-webkit-scrollbar-track,
.scrollbar.scrollbar-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}
