---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout className="flex flex-col items-center justify-center">
  <h1 class="text-white text-4xl font-heading mb-4">ImMau14</h1>
</BaseLayout>
