---
import '@/styles/global.css'

export interface Props {
  title: string
  description?: string
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content={Astro.props.description ?? 'Personal portfolio'} />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <main id="main">
      <slot />
    </main>
  </body>
</html>